:root {
  --red-001: hsl(0, 100%, 68%);
  --very-dark-blue-002: hsl(230, 29%, 20%);
  --dark-grayish-blue-003: hsl(230, 11%, 40%);
  --grayish-blue-004: hsl(231, 7%, 65%);
  --light-grayish-blue-005: hsl(207, 33%, 95%);
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
}

body {
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav_menu,
h2 {
  font-family: "Barlow Condensed", sans-serif;
}

/** Navigation styles **/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8em;
  padding-right: 5em;
}

.logo {
  width: 20%;
}

.nav_menu {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  font-size: 0.7em;
}

ul li {
  margin: 0 3.5em 0 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
}

ul li a {
  text-decoration: none;
  color: var(--very-dark-blue-002);
}

li:last-child a {
  color: var(--grayish-blue-004);
}

.dot {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--grayish-blue-004);
  align-self: center;
}

/** Content Area Styles **/

.content_area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.content_description {
  padding-left: 8em;
  padding-top: 7.7em;
}

.illustration {
  padding-top: 5em;
}

p:nth-child(1) span {
  border: none;
  padding: 0.2em 0.7em;
  border-radius: 30px;
  color: var(--light-grayish-blue-005);
  font-weight: 700;
  background-color: var(--very-dark-blue-002);
  letter-spacing: 0.6px;
}

p:nth-child(1) {
  padding-left: 0.35em;
  letter-spacing: 3px;
  color: var(--grayish-blue-004);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "Barlow Condensed", sans-serif;
}
