:root {
  --red-001: hsl(0, 100%, 68%);
  --very-dark-blue-002: hsl(230, 29%, 20%);
  --dark-grayish-blue-003: hsl(230, 11%, 40%);
  --grayish-blue-004: hsl(231, 7%, 65%);
  --light-grayish-blue-005: hsl(207, 33%, 95%);
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
}

body {
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav_menu,
h2 {
  font-family: "Barlow Condensed", sans-serif;
}

/** Navigation styles **/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8em;
  padding-right: 5em;
  position: relative;
  z-index: 100;
}

.logo {
  width: 20%;
}

.nav_menu {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  font-size: 0.7em;
}

ul li {
  margin: 0 3.5em 0 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
}

ul li a {
  text-decoration: none;
  color: var(--very-dark-blue-002);
}

ul li a:hover,
ul li a:focus,
ul li a:active {
  text-decoration: underline;
}

li:last-child a {
  color: var(--grayish-blue-004);
}

.dot {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--grayish-blue-004);
  align-self: center;
}

.nav_background {
  background-color: var(--light-grayish-blue-005);
  height: 19.5em;
  width: 34em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 3em;
}

/** Content Area Styles **/

.content_area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.content_description {
  padding-left: 8em;
  padding-top: 7.7em;
}

.illustration {
  padding-top: 5em;
  position: relative;
  z-index: 100;
}

p:nth-child(1) span {
  border: none;
  padding: 0.2em 0.7em;
  border-radius: 30px;
  color: var(--light-grayish-blue-005);
  font-weight: 700;
  background-color: var(--very-dark-blue-002);
  letter-spacing: 0.6px;
}

.content_area p:nth-child(1) {
  padding-left: 0.35em;
  letter-spacing: 3px;
  color: var(--grayish-blue-004);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "Barlow Condensed", sans-serif;
}

h2 {
  font-size: 2.75em;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 0.37em;
  width: 8.55em;
  color: var(--very-dark-blue-002);
}

p:nth-of-type(2) {
  font-size: 0.9em;
  width: 14.83em;
  padding-top: 2em;
  color: var(--dark-grayish-blue-003);
  font-weight: 400;
  letter-spacing: -0.9px;
}

.demo_button_area {
  padding-top: 3em;
}

.button {
  border-radius: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  width: 12.143em;
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--red-001);
  border: none;
  color: var(--light-grayish-blue-005);
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 12px 10px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: hsl(0, 100%, 73%);
}

.demo_button_area span {
  padding-left: 1.07em;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  color: var(--grayish-blue-004);
  letter-spacing: 3.9px;
  font-weight: 300;
}

/** Footer Styles **/

.attribution {
  font-size: 0.75em;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: var(--very-dark-blue-002);
  padding-top: 2em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/** Media Queries **/
