:root {
  --red-001: hsl(0, 100%, 68%);
  --very-dark-blue-002: hsl(230, 29%, 20%);
  --dark-grayish-blue-003: hsl(230, 11%, 40%);
  --grayish-blue-004: hsl(231, 7%, 65%);
  --light-grayish-blue-005: hsl(207, 33%, 95%);
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
}

body {
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav_menu,
h2 {
  font-family: "Barlow Condensed", sans-serif;
}

/** Navigation styles **/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8em;
  padding-right: 5em;
  position: relative;
  z-index: 100;
}

.logo {
  width: 20%;
}

.nav_toggle {
  display: none;
}

.nav_menu {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  font-size: 0.7em;
}

ul li {
  margin: 0 3.5em 0 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
}

ul li a {
  text-decoration: none;
  color: var(--very-dark-blue-002);
}

ul li a:hover,
ul li a:focus,
ul li a:active {
  text-decoration: underline;
}

li:last-child a {
  color: var(--grayish-blue-004);
}

.dot {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--grayish-blue-004);
  align-self: center;
}

.nav_background {
  background-color: var(--light-grayish-blue-005);
  height: 19.5em;
  width: 52%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 3em;
}

.nav_close_button {
  display: none;
}

/** Content Styles **/

.content_area {
  display: flex;
}

.content_description {
  padding-left: 8em;
  padding-top: 7.7em;
}

.illustration {
  padding-top: 5em;
  position: relative;
  z-index: 100;
  padding-left: 1.2em;
}

p:nth-child(1) span {
  border: none;
  padding: 0.2em 0.7em;
  border-radius: 30px;
  color: var(--light-grayish-blue-005);
  font-weight: 700;
  background-color: var(--very-dark-blue-002);
  letter-spacing: 0.6px;
  margin-right: 0.4em;
}

.content_area p:nth-child(1) {
  letter-spacing: 3.8px;
  color: var(--grayish-blue-004);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "Barlow Condensed", sans-serif;
}

h2 {
  font-size: 2.75em;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 0.37em;
  width: 8.55em;
  color: var(--very-dark-blue-002);
}

p:nth-of-type(2) {
  font-size: 0.9em;
  width: 14.83em;
  padding-top: 2em;
  color: var(--dark-grayish-blue-003);
  font-weight: 400;
  letter-spacing: -0.4px;
}

.demo_button_area {
  padding-top: 3em;
}

.button {
  border-radius: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  width: 12.143em;
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--red-001);
  border: none;
  color: var(--light-grayish-blue-005);
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 12px 10px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: hsl(0, 100%, 73%);
}

.demo_button_area span {
  padding-left: 1.07em;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  color: var(--grayish-blue-004);
  letter-spacing: 3.9px;
  font-weight: 300;
}

/** Footer Styles **/

.attribution {
  font-size: 0.75em;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: var(--very-dark-blue-002);
  padding-top: 2em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/** Media Queries **/
@media only screen and (max-width: 1000px) {
  /** Navigation area **/
  .navigation {
    flex-direction: column;
    padding-left: 2em;
    padding-right: 0;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 89%;
    position: absolute;
    top: 81px;
    left: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
  }

  /* .active {
    display: flex;
  } */

  span.nav_toggle {
    position: absolute;
    top: 0;
    right: 10px;
    padding-right: 1em;
    display: inline-block;
  }

  .logo {
    width: 100%;
  }

  ul li {
    text-align: center;
    margin-right: 0;
    padding: 5px 50px;
    margin: 5px;
  }

  li:nth-child(1) {
    margin-top: 20px;
  }

  li:nth-child(4) {
    width: 0;
    height: 0;
    padding: 0;
    display: none;
  }

  li:nth-child(5) {
    padding-bottom: 20px;
  }

  li:nth-child(5)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid var(--grayish-blue-004);
    padding-top: 20px;
  }

  .nav_close_button {
    position: absolute;
    top: 0;
    right: 66px;
    display: none;
  }

  .active .illustration {
    opacity: 0.8;
  }

  /** Content Area **/

  .content_area {
    flex-direction: column;
  }

  .content_description {
    order: 1;
    padding-left: 2em;
    padding-top: 4em;
  }

  .nav_background {
    width: 8.2em;
    height: 20.3em;
  }

  .illustration {
    padding-top: 2.9em;
    z-index: 1;
    padding-left: 0.9em;
  }
}

@media only screen and (max-width: 913px) {
  .nav_close_button {
    right: 52px;
  }
}

@media only screen and (max-width: 815px) {
  .nav_close_button {
    right: 42px;
  }
}

@media only screen and (max-width: 711px) {
  .nav_close_button {
    right: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .nav_menu {
    width: 87%;
  }

  .nav_close_button {
    right: 26px;
  }
}

@media only screen and (max-width: 500px) {
  .nav_menu {
    width: 86%;
  }

  .nav_close_button {
    right: 29px;
  }
}

@media only screen and (max-width: 451px) {
  .nav_menu {
    width: 85%;
  }

  .nav_close_button {
    right: 28px;
  }

  h2 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 430px) {
  .nav_menu {
    width: 84%;
  }

  .nav_close_button {
    right: 25px;
  }
}

@media only screen and (max-width: 413px) {
  h2 {
    font-size: 2em;
  }

  .nav_close_button {
    right: 32px;
  }
}

@media only screen and (max-width: 405px) {
  .nav_menu {
    width: 82%;
    box-shadow: none;
  }

  .nav_close_button {
    right: 32px;
  }

  .illustration {
    opacity: 1;
  }
}

@media only screen and (max-width: 380px) {
  .nav_close_button {
    right: 36px;
  }

  .demo_button_area span {
    letter-spacing: 2.9px;
  }

  p:nth-of-type(2) {
    padding-top: 0.9em;
  }

  .demo_button_area {
    padding-top: 1.3em;
  }

  .attribution {
    font-size: 0.6em;
    padding-top: 4em;
  }

  .active .illustration {
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  .nav_menu {
    width: 80%;
    top: 75px;
    left: 39px;
    box-shadow: none;
  }

  .nav_close_button {
    right: 36px;
  }

  .nav_background {
    width: 8.2em;
    height: 20.3em;
  }

  .content_area p:nth-child(1) {
    letter-spacing: 4.3px;
  }

  h2 {
    font-size: 1.8em;
    padding-top: 0.5em;
  }

  .button {
    padding: 10px 6px;
    width: 10.1em;
    letter-spacing: 0.8px;
  }

  .demo_button_area span {
    letter-spacing: 2px;
  }

  .active .illustration {
    opacity: 1;
  }
}

.active .nav_menu {
  display: flex;
}

.active .nav_toggle {
  display: none;
}

.active .nav_close_button {
  display: inline-block;
}
